:root{
    --primary-color:#636161;
    --secundary-color:#ececec9f;
    --color-label: #eee;
    --color-text-primary:black;
    --color-text-secundary:white;
    --font-size: 0.9rem;
    --font-primary: "Style Script", cursive;
    --font-secundary: "Red Hat Text", sans-serif;
}

/* font google
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.red-hat-text-<uniquifier> {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color:var(--primary-color);
    color: var(--color-text-secundary);       
}
header h1 {text-align: center; }


/* --------- TABLE ----------*/

.grid-table{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

#siteplan {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-width: 900px;
    min-height: 500px;
    width: 100%;
    margin: auto;  
  }
  
#siteplan td, #siteplan th {
    border: 2px solid #ddd;
    padding: 8px;
  }

tr{
    background-color:var(--primary-color);
    color: var(--color-label);
}
#siteplan tr:nth-child(even){
    background-color:var(--secundary-color);
    color: black;
}
  
#siteplan tr:hover {background-color:var(--primary-color);}

li, tr{
  font-size: 12px; 
}

figure {
    text-align: center; 
    margin: 10px 0;
}
figcaption{
    font-size: 9px;
    margin-top: -1px;
}

img{
    max-height: 300px;
}
th {
    min-width: 400px;
}

tr {
    min-height: 100px;
}






/* --------- FONT -------------*/
#primary-font{
    font-family: var(--font-primary);
    font-size: 40px;
}

#secondary-font{
    font-family: var(--font-secundary);
    font-size: 16px;
    font-weight: 450;
}

/*----------- FOOTER --------------*/
footer {
    padding: .5rem 2%;
    background-color:var(--primary-color);
    color: var(--color-text-secundary);
    font-size: var(--font-size);
    text-align: center;       
}
