:root{
    --primary-color:#ffe1e1;
    --secundary-color:#5d3030;
    --color-label: #fcfbc2;
    --color-text-primary:black;
    --color-text-secundary:white;
    --font-size: 14px;
    --font-primary: "Style Script", cursive;
    --font-secundary: "Red Hat Text", sans-serif;
    --font-color: #5d3030;
}

/*----------- HEADER --------------*/
header {

    background-color:var(--primary-color);
    color: var(--color-text-secundary);       
}
header {text-align: center; color: var(--font-color); }

.container-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-header h1 {
    display: none;
} 

.container-header img {
    grid-column: 2/3;
    height: 150px;
} 

.socialmedia a img {
    display: none;
    width: 40px;
 } 

/* ------ HAMBU MENU------------*/

.hamburger {
    display: block;
    position: absolute;
    width: 100px;
    margin: 10px;
}
/* Estilos para o X */
.close-btn {
    background: none;
    border: none;
    font-size: 16px;
    color:var(--primary-color);
    position: absolute;
    margin: 0.2rem 11rem  auto;
    display: none; 
}

nav.show .close-btn {
    display: block; 
}

.hamburger.active .bar1 {
    transform: rotate(45deg);
    top: 10px; 
}

.hamburger.active .bar2 {
    opacity: 0; 
}

.hamburger.active .bar3 {
    transform: rotate(-45deg);
    top: 10px; 
}

.bar {
    height: 4px;
    width: 30%;
    background-color:  #6f1616;;
    margin: 5px 10px;
    transition: all 0.3s ease;
}

/* ------- NAV  ---------*/

.nav {
    display: none; 
    background-color: var(--secundary-color);
    height: 250px;
    padding: 1rem;
    width: 100%; 
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    text-align: center;
 
}

.nav ul li a {
    font-family: var(--font-primary);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color:var(--primary-color);
    font-weight: 500;
    font-size: x-large;
}

.nav a:hover {
	font-weight: 700;
    color:var(--secundary-color);
    background-color:var(--primary-color);
    border-radius: 1rem;
    padding: 0.4rem;
}

.nav.show {
    display: block; 
    max-width: 200px;
    
}

/* --------- MAIN ----------*/

h1, h2, a {font-family: var(--font-primary); color: var(--font-color); text-align: center; font-weight: 500;}

p{ font-family: var(--font-secundary); font-size: var(--font-size);}


.bannerhome{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 0.5rem;  
    width: 100%;
}

.bannerhome img{
    border: 2px solid var(--secundary-color); 
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;

}

.gallerycakes , .galleryevents {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    
}

.gallerycakes img:hover {
    box-shadow: 0 0 50px var(--secundary-color);
}

.gallerycakes img , .galleryevents img , .gallerydesserts img{
    max-width: 430px;
    min-width: 130px;
    width: 94%;
    height: 300px;
    object-fit: cover;
    margin: 0.5rem 0 0.5rem 0.5rem;

}


section{
    border: 1px solid var(--secundary-color);
    min-width: 250px;
    max-width: 500px;
    height: auto;
    box-shadow: 0 0 10px #333;
    margin-bottom: 1rem;

}

section p{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 14px;
    margin: 0;
}

.about-us{
    padding: 1rem;
    align-items:center;
    justify-content: center;
}

/*----------- FORM --------------*/

.formcontact{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: var(--font-secundary);
    border: 1px solid var(--font-color);
    width: 98%;
    margin: 1rem 0 1rem 0;
    box-shadow: 10px 10px 10px #999;
    
}

.formcontact fieldset {
    
    color:var(--font-color);
    border-radius: 6px;
    max-width: 300px;
    background-color: var(--color-label);
    box-shadow: 2px 2px 4px #999;
}

.formcontact label {
    display: block;
    padding-top: 1rcap;
    font-size: var(--font-size);
}

.formcontact input:required , .formcontact select:required  {
    border-left: solid 8px red;
}

.formcontact input:required:valid{
    border-left: solid 8px green;
}

.formcontact input[type="submit"]{
    border: none;
    border-radius: 6px;
    background-image: linear-gradient(#9c2c13,#6f200e);
    color: white;
    padding: .8rem;
    width:230px;
    max-width: 300px;
    box-shadow: 1px 1px 4px #999;
    font-size: var(--font-size);
    margin: 1rem 0 1rem 0;
}

.formcontact input[type="date"],
.formcontact input[type="text"],
.formcontact input[type="tel"],
.formcontact input[type="email"],
.formcontact textarea,
.formcontact input[type="submit"]
{
    display: grid;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    max-width: 300px;
    padding: 0.5rem;
}

.formcontact textarea{
    height: 100px;
}

/*----------- FOOTER --------------*/
footer a {
    display: inline;
    padding: 5px;
    text-decoration: none;
    color:var(--secundary-color);
    font-weight: 400;
}

footer a:hover {
	font-weight: 700;
    color:var(--secundary-color);
}

footer p {
    margin-top: -1px;
    margin-bottom: -1px;
}
footer {
    padding: .5rem;
    background-color:var(--primary-color);
    color:var(--secundary-color);
    font-size: var(--font-size);
    text-align: center;       
}


