@media (min-width: 1200px) {
    /*----------- NAV  --------------*/
    :root{
        --primary-color:#ffe1e1;
        --secundary-color:#5d3030;
        --color-label: #fcfbc2;
        --color-text-primary:black;
        --color-text-secundary:white;
        --font-size: 1rem;
        --font-primary: "Style Script", cursive;
        --font-secundary: "Red Hat Text", sans-serif;
        --font-color: #5d3030;
    }
    

    /*----------- HEADER --------------*/
    .nav{
        max-width: 98.3%;	
    }
    /*----------- MAIN ---------------*/
    .bannerhome img{
        max-width: 1200px;
        height: auto;
    
    }

    .gallerycakes , .galleryevents {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        
    }
    .gallerycakes img , .galleryevents img , .gallerydesserts img  {
        max-width: 500px;
        height: 350px;
    }

    section{
        max-width: 400px;
       
    }

    /* ---------- BODY --------------*/


    /* -----------FORM --------------*/

    .formcontact{
        width: 70%;
        margin: 1rem 0 1rem 18rem;
    }
   

    /*----------- FOOTER --------------*/
   
}