* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main aside"
        "footer footer footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100vh;
}

header {
    grid-area: header;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    grid-area: nav;
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

nav a {
	display: block;
	color: #ffffff;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;

}
nav a:hover {
	font-weight: 700;
	text-decoration: underline;
    color: #085f1b;
	text-decoration-color: rgb(28, 204, 12);
}
main {
    grid-area: main;
    padding: 1rem;
    background: #f4f4f4;
}

aside {
    grid-area: aside;
    background: #ddd;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}