* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main aside"
        "footer footer footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100vh;
}

header {
    grid-area: header;
    background: rgb(91, 105, 141);
    color: #fff;
    text-align: center;
    height: 200px;
    display: flex; /* Torna o header um contêiner flexível */
    flex-direction: column; /* Coloca os itens em uma coluna (de cima para baixo) */
    justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
}

header h1{
    grid-area: header;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 3%;
}

nav {
    grid-area: nav;
    background: rgb(46, 71, 134);
    color: #fff;
    display: flex;
    justify-content: space-around;
}

nav a {
	display: block;
	color: #ffffff;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
    position: relative;
}

nav a:hover {
	font-weight: 700;
	text-decoration: underline;
    color: rgb(155, 168, 201);
	text-decoration-color: rgb(234, 238, 14);;
}
main {
    grid-area: main;
    padding: 1rem;
    background: #f4f4f4;
}

aside {
    grid-area: aside;
    background:  rgb(227, 234, 250);
    padding: 1rem;
}

.webresources h2{
    text-align: center;
}

.webresources ul li a{   
    text-align: center;
    align-items: center;
    display: flex;
	color: #777284; 
    text-decoration: none;
    margin-top: 10%;
}

.webresources a:hover {
	font-weight: 700;
	text-decoration: underline;
    color: rgb(11, 64, 197);
	text-decoration-color: rgb(70, 4, 212);
}
.card{
    display: flex;        /* Torna o container flexível */
    align-items: center;  /* Alinha verticalmente ao centro (opcional) */
    gap: 20px;            /* Espaço entre a imagem e o texto */
  }

.card img{
    position: relative;
    max-width: 400px;
    height: auto;
}

.card a {
    text-decoration: none;
}

img{
    border-radius: 1rem;
}

footer {
    grid-area: footer;
    background: rgb(91, 105, 141);
    color: #fff;
    text-align: center;
    padding: 1rem;
}