
    /* Global CSS Variables */
    :root {
        --weather-icon: "☀️"; /* Default icon */
        --weather-icon-color: #f39c12; /* Default color (orange) */
        --weather-icon-size: 2rem; /* Icon size */
      }

/* ------------ BODY -------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
h2{
    text-align: center;
}

main{
    width: 90%;
    background-color: rgb(220, 218, 183);
    margin: 0 auto;  
    font-size: 14px;
}

.container{
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    justify-content: center;
    
}

.image{
    grid-column: 1/1; 
}

.data{
    grid-column: 1/1; 
    width: 80%;
    padding: 2rem;
}

.weather{
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    align-items: center;
    justify-content: center;
    text-align: center;              
}


/* Heading Style with Pseudo-element */
.weather-heading {
    font-weight: bold;
  }

  .weather-heading::after {
    content: var(--weather-icon);
    color: var(--weather-icon-color);
    font-size: var(--weather-icon-size);
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
  }

/* ------------ HEADER AND FOOTER -------------*/
footer, header {
    background: rgb(53, 53, 21);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer span{
    font-style: italic;
    color: yellow;
}

.container img:hover{
    box-shadow: 0 0 50px #98a021;
    border-radius: 2% 
}

.container img {
    box-shadow: 0 0 10px #333;
    border-radius: 2% ;
    padding: 0.1rem;
    margin-left: 2rem;

}