body{
    font-family: 'Robot', sans-serif;
}

header , main , footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(187, 215, 184);
}

main{
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    padding: 1rem;
    background-color: rgb(239, 244, 236);
}